@inject NavigationManager NavigationManager
<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <NotAuthorized>
                    <p>Brak autoryzacji</p>
                </NotAuthorized>

            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    private async Task OnNavigateAsync(NavigationContext context)
    {
        if (context.Path == "about")
        {
            NavigationManager.NavigateTo("/contact");
        }
    }
}
