@page "/users"
@inject JsonPlaceholderService Api
@inject NavigationManager NavigationManager

<h3>Users</h3>


@if (users == null)
{
    <LoadingComponent Message="Loading users">
        <Content>
            <img src="https://api.nasa.gov/assets/img/favicons/favicon-192.png" />
        </Content>
    </LoadingComponent>
}
else
{
@*    <UserTableTemplate Users="@users" ></UserTableTemplate>*@

    <TableTemplate Items="@users" Context="user">
        <HeaderTemplate>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
            <th>Action</th>  
        </HeaderTemplate>

        <RowTemplate>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.Website</td>
            <td>@user.Company.Name</td>
        </RowTemplate>
    </TableTemplate>

}

@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(5));

        users = await Api.GetUsers();
    }

    private void View(int id)
    {
        NavigationManager.NavigateTo($"/users/{id}");
    }


}
